.favorite-card {
	background: $card-background;
	text-align: center;
	padding: 2rem;
	min-width: 250px;
	> * {
		margin-bottom: 1rem;
	}
	img {
		max-width: 5rem;
		margin: auto;
		margin-bottom: 1rem;
	}
}
