.app-header {
	color: $primary-color;
	.logo {
		text-transform: capitalize;
	}

	.theme {
		font-size: 1.5rem;
		> :first-child {
			margin-inline-end: 2rem;
		}
		> * {
			cursor: pointer;
		}
	}
	.main-nav {
		> :first-child {
			margin-inline-end: 1rem;
		}
		a {
			color: $primary-color;
			padding: 0.75rem;

			position: relative;
			&:hover {
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					background-color: $primary-color;
					height: 5px;
					width: 5px;
					border-radius: 50%;
					bottom: 0;
				}
			}
		}
		.active {
			background: #3333;
			color: #fff;

			box-shadow: 0 1px 0 0 #fff;
			&:hover::after {
				width: 0;
				height: 0;
			}
		}
	}
}

@media screen and (max-width: 580px) {
	.app-header {
		.wrapper {
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			> * {
				margin: 1rem 0;
			}
		}
	}
}
