.search-form {
	position: relative;
	margin-bottom: 2rem;
	.input-group {
		margin-bottom: 0.875rem;
		position: relative;
		& input {
			width: 100%;
			max-width: 350px;
			min-width: 350px;
			background-color: $primary-background;
			color: $primary-color;
			padding: 0.85rem 2.5rem;
			outline: none;
			font-size: 1rem;
			border: none;
			border-top-left-radius: 0.25rem;
			border-top-right-radius: 0.25rem;
			box-shadow: 0 0 4px 0 rgb(0 0 0 / 20%);
			border-bottom: 1px solid #dbdbdb;
			&:focus {
				border-bottom: 1px solid #2f80ed;
				// border-color: #2f80ed;
				// outline: 1px solid #2f80ed;
			}
			&::placeholder {
				color: #828282;
			}
		}

		.icon {
			position: absolute;
			top: 1rem;
			left: 1rem;
			font-size: 1.1rem;
			color: #828282;
		}
	}
}
