.weather-app {
	color: $primary-color;
	&-wrapper {
		display: grid;
		grid-template-columns: 1.5rem 1fr 1.5rem;
		> * {
			grid-column: 2;
		}
		.top {
			margin-bottom: 2rem;
			.icon {
				font-size: 2rem;
				cursor: pointer;
			}
			.description {
				> * {
					margin-bottom: 0.25rem;
				}
				p > * {
					cursor: pointer;
				}
			}
		}
		.weather-description {
			margin-bottom: 3rem;
		}
	}
}
